extends layoutmaterial

block content

    main.mdl-layout__content
      .page-content
        .mdl-grid
          .mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
            .mdl-card__title
              h2.mdl-card__title-text Clase #{classroom.key}
            .mdl-card__supporting-text
              | Identifiers included in this class, each one represents a learner:
            .mdl-card__supporting-text
              table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp(style='width: 100%')
                thead
                  tr
                    th.mdl-data-table__cell--non-numeric Code
                    each metadata in classroom.metadata
                      th
                        !{metadata.description.id}
                    each survey in surveys
                      th
                        !{survey.name} (!{survey.pre_r.length}/!{classroom.codes.length}) (!{survey.post_r.length}/!{classroom.codes.length})
                        a(href="../export/#{classroom._id}?survey=#{survey.pre}",target="_blank")#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
                          i.material-icons file_download
                        a(href="../export/#{classroom._id}?survey=#{survey.post}",target="_blank")#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
                          i.material-icons file_download
                        a(href="../export/#{classroom._id}?survey=#{survey.teacher}",target="_blank")#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
                          i.material-icons file_download
                    th
                      button#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
                        i.material-icons delete
                      button#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
                        i.material-icons add
                      button#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
                        i.material-icons file_download
                tbody
                  each code in classroom.codes
                    tr
                      td.mdl-data-table__cell--non-numeric !{code}
                      each metadata in classroom.metadata
                        td
                          button.mdl-button(id="#{metadata.description.id}_#{code}") 
                            span(id="#{metadata.description.id}_#{code}_placeholder") !{metadata.values[code]}
                            i.material-icons keyboard_arrow_down
                          ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='#{metadata.description.id}_#{code}')
                            each option in metadata.description.options
                              li.mdl-menu__item(data-val='#{option}', onclick="setMetaData('#{metadata.description.id}', '#{code}', '#{option}')") !{option}

                      each survey in surveys
                        td
                          a.mdl-button(href="http://polls.e-ucm.es/index.php/#{survey.pre}?token=#{code}",target="_blank")
                            !{survey.pre && survey.pre_r[code] ? (survey.pre_r[code].submitdate? 'Finished' : 'Started') : 'Not Found'}
                          a.mdl-button(href="http://polls.e-ucm.es/index.php/#{survey.post}?token=#{code}",target="_blank")
                            !{survey.post && survey.post_r[code] ? (survey.post_r[code].submitdate? 'Finished' : 'Started') : 'Not Found'}
                          a.mdl-button(href="http://polls.e-ucm.es/index.php/#{survey.teacher}?token=#{code}",target="_blank")
                            !{survey.teacher && survey.teacher_r[code] ? (survey.teacher_r[code].submitdate? 'Finished' : 'Started') : 'Not Found'}
                      td
                        if traces[code]
                          a(href="../../traces/"+code+".csv").mdl-button Traces
          .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
            .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--3-col-tablet.mdl-cell--12-col-desktop
              .mdl-card__title
                h2.mdl-card__title-text Surveys
              .mdl-card__supporting-text
                | Surveys assigned to this class.
              .mdl-card__supporting-text
                ul.demo-list-control.mdl-list
                  each survey in surveys
                    li.mdl-list__item
                      span.mdl-list__item-primary-content
                        i.material-icons.mdl-list__item-avatar list
                        | !{survey.name}
                      span.mdl-list__item-secondary-action
                        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='list-switch-1')
                          input#list-switch-1.mdl-switch__input(type='checkbox', checked='')
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(data-upgraded=',MaterialButton,MaterialRipple')
                  | Add Survey
                  span.mdl-button__ripple-container
                    span.mdl-ripple.is-animating
            .mdl-cell--1-col
              br
            .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--3-col-tablet.mdl-cell--12-col-desktop
              .mdl-card__title
                h2.mdl-card__title-text Games
              .mdl-card__supporting-text
                | Games assigned to this class.
              .mdl-card__supporting-text
                ul.demo-list-control.mdl-list
                  if classroom.games
                    each game in games
                      if classroom.games.indexOf(game._id) > -1
                        li.mdl-list__item
                          span.mdl-list__item-primary-content
                            i.material-icons.mdl-list__item-avatar games
                            | !{game.title}
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(data-upgraded=',MaterialButton,MaterialRipple').show-games
                  | Add Game
                  span.mdl-button__ripple-container
                    span.mdl-ripple.is-animating
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(data-upgraded=',MaterialButton,MaterialRipple').show-metadata
                  | Add Metadata
                  span.mdl-button__ripple-container
                    span.mdl-ripple.is-animating
            .mdl-cell--1-col
              br
    ul.fab-menu
      li
        a(href="../pdf/#{classroom._id}",target="_blank").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.show-modal
          img(src="../../icon/pdf.png",width="55px")
      li
        a(href="../word/#{classroom._id}",target="_blank").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.show-modal
          img(src="../../icon/word.png",width="55px")
    dialog.mdl-dialog.mdl-transition-in.metadata-dialog
      .mdl-dialog__title
        | Add Metadata
      .mdl-dialog__content
          form(name="selectmetadata", method="post", action="../#{classroom._id}/metadata", enctype="multipart/form-data")
            input(type="hidden",name="definition",value='{ "id": "AB", "options": ["A", "B", "Random", "Default"], "default": "A" }')
            button.mdl-button(type='submit') A/B Case
      .mdl-dialog__actions.mdl-dialog__actions
        button.mdl-button.close(type='button') Cancel
    dialog.mdl-dialog.mdl-transition-in.games-dialog
      .mdl-dialog__title
        | Add Game
      .mdl-dialog__content
        each game in games
          form(name="selectgame", method="post", action="../addgame", enctype="multipart/form-data")
            input(type="hidden",name="game",value="#{game._id}")
            input(type="hidden",name="classroom",value="#{classroom._id}")
            button.mdl-button(type='submit') !{game.title}
      .mdl-dialog__actions.mdl-dialog__actions
        button.mdl-button.close(type='button') Cancel
    #notification.mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
      button.mdl-snackbar__action(type='button')
    script.
      var notification = document.querySelector('#notification');
      var showToastButton = document.querySelector('#demo-show-toast');

      var notificate = function(text) {
        'use strict';
        var data = {message: text};
        notification.MaterialSnackbar.showSnackbar(data);
      };

      var dialog = document.querySelector('.games-dialog');
      var metadata = document.querySelector('.metadata-dialog');
      var showModalButton = document.querySelector('.show-games');
      var metadataButton = document.querySelector('.show-metadata');

      if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }
      showModalButton.addEventListener('click', function() {
        dialog.showModal();
      });
      dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
      });

      if (! metadata.showModal) {
        dialogPolyfill.registerDialog(metadata);
      }
      metadataButton.addEventListener('click', function() {
        metadata.showModal();
      });
      metadata.querySelector('.close').addEventListener('click', function() {
        metadata.close();
      });

      var setMetaData = function(id, code, value) {
        $.ajax({
          url: '../metadata/' + id + '/' + code,
          dataType: 'json',
          headers: {'Content-Type': 'application/json'},
          data: JSON.stringify({value: value}),
          method: 'post',
          success: function(result){
            $('#'+id+'_'+code+'_placeholder').text(value);
            notificate("Value changed")
          },
          error: function(error){
            notificate(JSON.stringify(error));
          }
        });
      };

